@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

* {
	font-family: 'Urbanist', sans-serif;
}

.loading {
	height: 100vh;
	
}

.container {
	height: 100vh;
}

.content {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
}

.container .content p {
	font-size: 22px;
}

.container .content p span a {
	text-decoration: none;
}

.container .content p span img {
	text-decoration: none;
	margin-bottom: 2px;
}

.strikeout {
  line-height: 1em;
  position: relative;
}
.strikeout::after {
  border-bottom: 0.125em solid #212529;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 58%;
}

.pekat {
	opacity: 10%;
}

.hati {
	cursor: default;
}

.instagram {
	color: #FC46AA;
	text-decoration: none;
}
.instagram:hover {
	color: #FC46AA;
	text-decoration: none;
}

.dribbble {
	color: #FC46AA;
	text-decoration: none;
}
.dribbble:hover {
	color: #FC46AA;
	text-decoration: none;
}

.linkedin {
	color: #003366;
	text-decoration: none;
}
.linkedin:hover {
	color: #003366;
	text-decoration: none;
}

.sevima {
	color: #212529;
	text-decoration: none;
}
.sevima:hover {
	color: #212529;
	